*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background-color:black;
  background:url('./components/Assets/bg1.jpg')no-repeat;
  background:cover;
  background-position:center;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
